<div class="container-fluid">
  <div classs="row">
    <div class="col-12">
      <div class="container-fluid">
        <br/>
        <div class="col-12">
          <%= form_for @admin, as: :admin, url: complete_invitation_path(invite_token: params[:invite_token]), method: :post, validate: true do |f| %>
            <h3>Save Info</h3>
            <div class="form-group">
              <%= f.label :fname, 'First Name' %>
              <%= f.text_field :fname, class: 'form-control'  %>
            </div>
            <div class="form-group">
              <%= f.label :lname, 'Last Name' %>
              <%= f.text_field :lname, class: 'form-control'  %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', disabled: true  %>
            </div>
            <div class="form-group">
              <%= f.label :subdomain %>
              <%= f.text_field :subdomain, class: 'form-control'  %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control', validate: { presence: true }  %>
            </div>

            <%= f.submit 'Save', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
