<p>
  <strong>Name:</strong>
  <%= @admin_event.name %>
</p>

<p>
  <strong>Start datetime:</strong>
  <%= @admin_event.start_datetime %>
</p>

<p>
  <strong>End datetime:</strong>
  <%= @admin_event.end_datetime %>
</p>

<p>
  <strong>Location:</strong>
  <%= @admin_event.address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin_event.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_event.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @admin_event.link %>
</p>

<%= link_to 'Edit', edit_admin_event_path(@admin_event) %> |
<%= link_to 'Back', admin_events_path %>
