<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-12">
      <%= link_to 'New Admin', new_admin_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <th scope="row"><%= admin.id %></th>
            <td><%= admin.fname %></td>
            <td><%= admin.lname %></td>
            <td><%= admin.email %></td>
            <td><%= link_to 'Show', admin_path(admin) %></td>
            <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
            <td><%= link_to 'Destroy', admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>