<div class="row">
  <div class="col-12">
    <%= form_with(model: admin_news, local: true, validate: true) do |form| %>
      <div class="form-group">
        <%= form.label :image %>
        <% if admin_news.image.present? %>
          <%= image_tag(admin_news.image.url, height: 200) %>
        <% end %>
        <%= form.file_field :image, accept: 'image/*'  %>
      </div>

      <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control', style: 'resize: none;' %>
      </div>

      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

