<br/>
<div class="row">
  <div class="col-12">
    <%= link_to 'New News', new_admin_news_path, class: 'btn btn-primary' %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-12">
    <h3>News</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @admin_news.each do |admin_news| %>
          <tr>
            <td>
              <% if admin_news.image.attached? %>
                <%= image_tag(url_for(admin_news.image.variant(resize: 100))) %>
              <% end %>
            </td>
            <td><%= admin_news.title %></td>
            <td><%= admin_news.body %></td>
            <td><%= link_to 'Show', admin_news %></td>
            <td><%= link_to 'Edit', edit_admin_news_path(admin_news) %></td>
            <td><%= link_to 'Destroy', admin_news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
