<p>
  <% if @admin_news.image.present? %>
    <%= image_tag(@admin_news.image.url, height: 200) %>
  <% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @admin_news.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @admin_news.body %>
</p>

<%= link_to 'Edit', edit_admin_news_path(@admin_news) %> |
<%= link_to 'Back', admin_news_index_path %>
