<%= form_with(class: 'form pb-2', model: admin_media_sermon, id: 'video_library_form', local: true) do |form| %>
  <div class="card mb-5">
    <div class="card-body">
        <div class="row">
          <%= link_to(admin_media_sermons_path, class: 'close position-absolute') do %>
            <%= image_tag('img/icon_close.png') %>
          <% end %>
          <div class="col-md-4">
            <div class="form-group position-relative">
              <%= form.label :video, class: 'text-black mb-2' %>
              <% if admin_media_sermon.get_video_url.present? %>
                <div id="video-player"></div>
                <script>
                    playerInstance = jwplayer('video-player');
                    playerInstance.setup({
                      file: '<%= raw(admin_media_sermon.get_video_url) %>',
                      image: '<%= raw(admin_media_sermon.get_thumbnail_url) %>',
                      height: 300,
                      controls: true
                    })
                </script>
              <% else %>
                <div class="video-placeholder position-relative">
                  <div class="up-video">
                    <i class="fa fa-video text-blue"></i>
                  </div>
                </div>
                <div class="UppyForm mt-3">
                  <div class="btn btn-primary mt-3"></div>
                  <%= form.file_field :video, accept: 'video/mp4', class: 'custom-file-input-button mt-3 w-100'  %>
                </div>
                <div class="uppy_progress_bar"></div>
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group position-relative">
              <%= form.label :thumbnail, class: 'text-black mb-2' %>
              <% if admin_media_sermon.get_thumbnail_url.present? %>
                <%= image_tag(admin_media_sermon.get_thumbnail_url, height: 100) %>
                <br/>
              <% else %>
                <div class="video-placeholder position-relative">
                  <div class="up-video">
                    <i class="fa fa-image text-blue text-lg"></i>
                  </div>
                </div>
              <% end %>
              <%= form.file_field :thumbnail, accept: 'image/*', class: 'custom-file-input-button mt-3 w-100'  %>
              <br/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= form.label :title, class: 'text-black mt-3' %>
          <%= form.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :speaker, class: 'text-black' %>
          <%= form.text_field :speaker, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :scripture, class: 'text-black' %>
          <%= form.text_field :scripture, class: 'form-control' %>
        </div>

        <div class="form-group mb-0">
          <%= form.check_box :published %>
          <%= form.label :published %>
        </div>

        <!-- Disable HLS
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <script>
            document.addEventListener('turbolinks:load', function() {
                let videos = document.getElementsByClassName('video');
                length = videos.length
                for (let i = 0; i < length; i++) {
                    let videoSrc = videos[i].src;
                    if (Hls.isSupported() && videoSrc.indexOf('.m3u8') !== -1) {
                        const hls = new Hls();
                        hls.loadSource(videoSrc);
                        hls.attachMedia(videos[i]);
                    } else if (videos[i].canPlayType('application/vnd.apple.mpegurl')) {
                        videos[i].src = videoSrc;
                    }
                }
            });
        </script>
        -->
      <div class="actions">
        <%= form.submit 'Save', class: 'btn btn-primary px-4' %>
        <%= link_to 'Cancel', admin_media_sermons_path, class: 'btn btn-outline-primary px-4 ml-md-2' %>
      </div>
    </div>
  </div>
<% end %>
