<% if view == 'grid' %>
  <div class=" item col-md-6 col-lg-4 mb-4">
    <div class="card card-header-actions shadow-none">
      <div class="card-header">
        <%= link_to sermon.title&.truncate(30), edit_admin_media_sermon_path(sermon), class: "text-decoration-none text-gray-700", title: sermon.title %>
        <div class="dropdown no-caret">
          <button class="btn-sm border-0 dropdown-toggle py-1 px-2 rounded" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions <i class="fa fa-caret-down ml-2" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right animated--fade-in-up">
            <%= link_to edit_admin_media_sermon_path(sermon), class: 'dropdown-item' do %>
              <div class="w-100">Edit</div>
              <div class="dropdown-item-icon">
                <i class="fa fa-edit"></i>
              </div>
            <% end %>
            <div class="dropdown-divider"></div>
            <% if sermon.video.present? %>
              <button class="dropdown-item clipboard-copy-btn" data-clipboard-text="<%= sermon.get_video_url %>">
                <div class="w-100">Copy Url</div>
                <div class="dropdown-item-icon">
                  <i class="fa fa-clone"></i>
                </div>
              </button>
              <div class="dropdown-divider"></div>
              <%= link_to sermon.video.url(response_content_disposition: ContentDisposition.attachment), class: 'dropdown-item', target: '_blank' do %>
                <div class="w-100">Download</div>
                <div class="dropdown-item-icon">
                  <i class="fa fa-download"></i>
                </div>
              <% end %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to admin_media_sermon_url(sermon, view: view), method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure ?' }  do %>
              <div class="w-100">Delete</div>
              <div class="dropdown-item-icon">
                <i class="fa fa-trash-alt"></i>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to edit_admin_media_sermon_path(sermon), style: "width:100%;"   do %>
        <% if sermon.get_thumbnail_url.present? %>
          <img src="<%= raw(sermon.get_thumbnail_url) %>" width="100%" />
        <% else %>
          <%= link_to edit_admin_media_sermon_path(sermon) do %>
            <%= render '/shared/video_placeholder', bg: :light %>
          <% end %>
        <% end %>
      <% end %>
      <div class="card-footer d-flex align-items-center justify-content-between">
        <%= form_with(class: 'form', model: sermon, local: true) do |form| %>
          <div class="custom-control custom-switch d-flex">
            <%= form.check_box :published, { id: sermon.id, class: 'custom-control-input', onchange: 'this.form.submit()' } %>
            <label class="custom-control-label blue-text font-weight-500 small m-0 d-flex flex-column-reverse" for="<%= sermon.id %>">Publish</label>
          </div>
        <% end %>
        <small class="text-xs m-0 text-muted font-weight-500">Uploaded: <%= sermon.created_at.strftime("%m/%d/%Y") %></small>
      </div>
    </div>
  </div>
<% else %>
  <tr>
    <td class="thumbnail text-dark" width="75px">
      <%= link_to edit_admin_media_sermon_path(sermon) do %>
      <% if sermon.get_thumbnail_url.present? %>
          <img src="<%= raw(sermon.get_thumbnail_url) %>" width="100%" />
      <% else %>
          <%= render '/shared/video_placeholder', bg: :light %>
        <% end %>
      <% end %>
    </td>
    <td class="title text-dark" title="<%= sermon.title if (sermon.title&.length || 0) > 50 %>"><%= sermon.title&.truncate(50) %></td>
    <td class="status text-dark">
      <%= form_with(class: 'form', model: sermon, url: admin_media_sermon_path(id: sermon.id, view: view), local: true) do |form| %>
        <div class="custom-control custom-switch d-flex justify-content-center">
          <%= form.check_box :published, { id: sermon.id, class: 'custom-control-input', onchange: 'this.form.submit()' } %>
          <label class="custom-control-label blue-text text-center" for="<%= sermon.id %>"></label>
        </div>
      <% end %>
    </td>
    <td class="upload-date text-dark"><%= sermon.created_at.strftime("%m/%d/%Y") %></td>
    <td class="actions">
      <% if sermon.video.present? %>
        <a class="mr-3 clipboard-copy-btn" data-clipboard-text="<%= sermon.get_video_url %>">
          <i class="fa fa-clone text-gray-500"></i>
        </a>
        <%= link_to sermon.video.url(response_content_disposition: ContentDisposition.attachment), class: 'mr-3', target: '_blank' do %>
          <i class="fa fa-download text-gray-500"></i>
        <% end %>
      <% end %>
      <%= link_to edit_admin_media_sermon_path(sermon), class: 'mr-3 text-decoration-none' do %>
        <i class="fas fa-edit text-gray-600"></i>
      <% end %>
      <%= link_to admin_media_sermon_url(sermon, view: view), method: :delete, data: { confirm: 'Are you sure ?' }, class: "text-decoration-none"  do %>
        <i class="fas fa-trash-alt text-gray-600"></i>
      <% end %>
    </td>
  </tr>
<% end %>
