<div class="col-md-6 col-lg-4 mb-4">  
  <div class="card card-header-actions">
    <div class="card-header text-dark">
      <%= sermon.title %>
      <div class="dropdown no-caret">
        <button class="btn btn-transparent-dark btn-icon dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i data-feather="more-vertical"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right animated--fade-in-up">
          <%= link_to edit_admin_media_sermon_path(sermon), class: 'dropdown-item' do %>
            <div class="dropdown-item-icon">
              <i data-feather="edit"></i>
            </div>
            Edit
          <% end %>
          <button class="dropdown-item" data-copy data-url="<%= sermon.get_video_url %>">
            <div class="dropdown-item-icon">
              <i data-feather="copy"></i>
            </div>
            Copy Url
          </button>
          <% if sermon.video.present? %>
            <%= link_to sermon.video.url(response_content_disposition: ContentDisposition.attachment), class: 'dropdown-item', target: '_blank' do %>
              <div class="dropdown-item-icon">
                <i data-feather="download"></i>
              </div>
              Download
            <% end %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to sermon, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure ?' }  do %>
            <div class="dropdown-item-icon">
              <i data-feather="trash-2"></i>
            </div>
            Delete
          <% end %>
        </div>
      </div>
    </div>
    <% if sermon.get_video_url.present? %>
      <div id="video-player-<%= sermon.id %>"></div>
      <script>
        playerInstance = jwplayer('video-player-<%= sermon.id %>');
        playerInstance.setup({
          file: '<%= raw(sermon.get_video_url) %>',
          image: '<%= raw(sermon.get_thumbnail_url) %>',
          controls: false
        })
      </script>
    <% end %>
    <div class="card-footer d-flex align-items-center justify-content-between">
      <%= form_with(class: 'form', model: sermon, local: true) do |form| %>
        <div class="custom-control custom-switch">
          <%= form.check_box :published, { id: sermon.id, class: 'custom-control-input', onchange: 'this.form.submit()' } %>
          <label class="custom-control-label" for="<%= sermon.id %>">Published</label>
        </div>
      <% end %>
      <small class="m-0 text-muted">Upload Date: <%= sermon.created_at.strftime("%m/%d/%Y") %></small>
    </div>
  </div>
</div>
