<%= render partial: 'shared/simple_page_header', locals: { 
  title: 'Media Library',
  btn_text: 'Upload Video',
  link: new_admin_media_sermon_path,
  icon: 'fa-photo-video' } %>

  <div class="container mt-n20">
    <div class="card mb-5">
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
      <span class="m-0 p-0 small">Total Videos: <%= @admin_media_sermons.length %></span>
      <div class="text-right">
        <a href="<%= admin_media_sermons_path(view: 'grid') %>" class="btn btn-light btn-sm <%= params[:view] == 'grid' ? 'disabled' : '' %>" role="button" aria-disabled="true"><span class="line-height-0 mr-2">Grid</span><i class="fas fa-th-large"></i></a></a>
        <a href="<%= admin_media_sermons_path(view: 'table') %>" class="btn btn-light btn-sm <%= params[:view] != 'grid' ? 'disabled' : '' %>" role="button" aria-disabled="true"><span class="line-height-0 mr-2">List</span><i class="fas fa-list-ul"></i></a></a>
      </div>
    </div>
      <div class="card-body pt-2 pb-0">
        <% if @admin_media_sermons.length > 0 %>
          <% if params[:view] == 'grid' %>
            <div class="video-library-grid-view pt-3">
              <% @admin_media_sermons.in_groups_of(3).each do |group| %>
                <div class="video-library-list">
                  <div class="row">
                    <% group.each do |admin_media_sermon| %>
                      <% if admin_media_sermon.present? %>
                        <%= render 'sermon', sermon: admin_media_sermon, view: params[:view] %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="video-library-list-view pt-2 pb-4">
              <div class="tbl-header small">
                <div class="table-responsive">
                  <table class="table table-borderless mb-0">
                    <thead>
                    <tr>
                      <th class="thumbnail text-black pt-0 font-weight-400">Thumbnail</th>
                      <th class="title text-black pt-0 font-weight-400">Video Title</th>
                      <th class="status text-black pt-0 font-weight-400">Publish Status</th>
                      <th class="upload-date text-black pt-0 font-weight-400"><%= sortable('created_at', 'Upload Date')  %> <%= sort_icon('created_at') %></th>
                      <th class="actions">&nbsp;</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <div class="tbl-content small">
                <div class="table-responsive">
                  <table class="table table-striped table-borderless mb-0"> 
                    <tbody>
                    <% @admin_media_sermons.each do |admin_media_sermon| %>
                      <%= render 'sermon', sermon: admin_media_sermon, view: params[:view] %>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-light" role="alert">
            You don't have any videos yet. Upload a video or start a live stream. 
          </div>
        <% end %>
      </div>
    </div>
  </div>

<!-- Disables Hls Player
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    document.addEventListener('turbolinks:load', function() {
        let videos = document.getElementsByClassName('video');
        length = videos.length
        for (let i = 0; i < length; i++) {
            let videoSrc = videos[i].src;
            if (Hls.isSupported() && videoSrc.indexOf('.m3u8') !== -1) {
                const hls = new Hls();
                hls.loadSource(videoSrc);
                hls.attachMedia(videos[i]);
            } else if (videos[i].canPlayType('application/vnd.apple.mpegurl')) {
                videos[i].src = videoSrc;
            }
        }
    });
</script>
-->

