<p>
  <strong>Video:</strong>
  <% if @admin_media_sermon.get_video_url.present? %>
    <%= video_tag(@admin_media_sermon.get_video_url, height: 300, controls: true, poster: @admin_media_sermon.get_thumbnail_url)  %>
  <% end %>
</p>

<p>
  <strong>Title:</strong>
  <%= @admin_media_sermon.title %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @admin_media_sermon.speaker %>
</p>

<p>
  <strong>Scripture:</strong>
  <%= @admin_media_sermon.scripture %>
</p>

<p>
  <strong>Published:</strong>
  <%= @admin_media_sermon.published %>
</p>

<%= link_to 'Edit', edit_admin_media_sermon_path(@admin_media_sermon) %> |
<%= link_to 'Back', admin_media_sermons_path %>
