<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-12">
      <%= link_to 'New Subscription', new_super_admin_subscription_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Cost</th>
          <th scope="col">Live Streams</th>
          <th scope="col">Stream Sizes (total hours/month)</th>
          <th scope="col">Viewer Count()</th>
          <th scope="col">Targets per Live Streams</th>
          <th scope="col">Video Storage (in GBs)</th>
          <th scope="col">RANK</th>
          <th scope="col">Active</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% @subscriptions.each do |subscription| %>
          <tr>
            <td><%= subscription.id %></td>
            <td><%= subscription.name %></td>
            <td><%= number_to_currency(subscription.price) %></td>
            <td><%= subscription.live_streams %></td>
            <td><%= subscription.stream_size %></td>
            <td><%= subscription.viewer_count %></td>
            <td><%= subscription.targets %></td>
            <td><%= subscription.video_storage %></td>
            <td><%= subscription.rank %></td>
            <td><%= subscription.active %></td>
            <td><%= link_to 'Edit', edit_super_admin_subscription_path(subscription) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>