<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-12">
      <%= form_for @subscription, url: super_admin_subscriptions_path, validate: true do |f| %>
        <h3>Create Subscription</h3>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :price, 'Price ($)' %>
          <%= f.text_field :price, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :live_streams %>
          <%= f.number_field :live_streams, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :stream_size, 'Stream Size (total hours/month)' %>
          <%= f.number_field :stream_size, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :targets %>
          <%= f.number_field :targets, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :video_storage, 'Video Storage (in GBs)' %>
          <%= f.number_field :video_storage, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :viewer_count %>
          <%= f.number_field :viewer_count, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :rank %>
          <%= f.number_field :rank, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :active %>
          <%= f.check_box :active %>
        </div>
        <%= f.submit 'Create Subscription', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>