<nav class="bg-light sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <div class="logo">
      SDA LIVE
      </div>
    </li>
    <li class="nav-item">
      <%= link_to root_path, class: 'nav-link' do %>
        <i class="fas fa-home nav-icon"></i> Dashboard
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_media_sermons_path, class: 'nav-link' do %>
        <i class="fas fa-chalkboard-teacher nav-icon"></i> Sermons
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_news_index_path, class: 'nav-link' do %>
        <i class="fas fa-bullhorn nav-icon"></i> News
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_events_path, class: 'nav-link' do %>
        <i class="fas fa-calendar nav-icon"></i> Events
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_media_images_path, class: 'nav-link' do %>
        <i class="fas fa-images nav-icon"></i> Gallery
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_members_path, class: 'nav-link' do %>
        <i class="fas fa-users nav-icon"></i> Members
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_website_edit_path, class: 'nav-link' do %>
        <i class="fas fa-window-maximize nav-icon"></i> Website
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_live_streams_path, class: 'nav-link' do %>
        <i class="fas fa-video nav-icon"></i> Live Stream
      <% end %>
    </li>
    <li class="nav-item"> 
      <%= link_to settings_profile_path, class: 'nav-link' do %>
        <i class="fas fa-cog nav-icon"></i> Settings 
      <% end %>
    </li>
  </ul>
  <div class="nav-footer d-block text-center">
    <h5>
      <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: '', data: { confirm: 'Are you sure ?' }) %>
    </h5>
  </div>
</nav>
