<div id="sidenav-outer" class="collapse d-md-block">
  <div id="sidenav" class="card card-scrollable rounded-0 border-0">
      <div class="card-header d-flex rounded-0 py-4 justify-content-center align-items-center">
        <a href="/" class="h3 text-center text-decoration-none m-0 logo text-dark">ChurchFlow</a><span class="badge badge-pill badge-primary ml-2">beta</span>
      </div>
      <div class="card-body px-3 py-3">
        <ul class="nav flex-column">
          <li class="nav-item my-1">
            <%= link_to root_path, class: 'nav-link rounded-pill w-100 ' do %>
              <i class="mr-2 fas fa-home nav-icon"></i> Dashboard
            <% end %>
          </li>
          <!-- <li class="nav-item">
            <%= link_to admin_news_index_path, class: 'nav-link' do %>
              <i class="mr-2 fas fa-bullhorn nav-icon"></i> News
            <% end %>
          </li> -->
          <!-- <li class="nav-item">
            <%= link_to admin_events_path, class: 'nav-link' do %>
              <i class="mr-2 fas fa-calendar-day nav-icon"></i> Schedule
            <% end %>
          </li> -->
          <li class="nav-item my-1">
            <%= link_to admin_media_sermons_path, class: 'nav-link rounded-pill w-100' do %>
              <i class="mr-2 fas fa-photo-video nav-icon"></i> Media Library
            <% end %>
          </li>
          <!-- <li class="nav-item">
            <%= link_to admin_media_images_path, class: 'nav-link' do %>
              <i class="mr-2 fas fa-images nav-icon"></i> Gallery
            <% end %>
          </li> -->
          <!-- <li class="nav-item">
            <%= link_to admin_members_path, class: 'nav-link' do %>
              <i class="mr-2 fas fa-users nav-icon"></i> Members
            <% end %>
          </li> -->
          <!-- <li class="nav-item">
            <%= link_to admin_website_edit_path, class: 'nav-link' do %>
              <i class="mr-2 fas fa-window-maximize nav-icon"></i> Website
            <% end %>
          </li> -->
          <li class="nav-item my-1">
            <%= link_to admin_live_streams_path, class: 'nav-link rounded-pill w-100' do %>
              <i class="mr-2 fas fa-broadcast-tower nav-icon"></i> Live Stream
            <% end %>
          </li>
          <!-- <li class="nav-item my-1"> 
            <%= link_to admin_payment_methods_path, class: 'nav-link rounded-pill w-100' do %>
              <i class="mr-2 fas fa-dollar-sign nav-icon"></i> Billing Settings
            <% end %>
          </li> -->
        </ul>
      </div>
      <div class="card-footer bg-white profile-setting d-flex align-items-center p-3">
        <%= image_tag(current_user.profile_picture.present? ? current_user.profile_picture.url : 'img/img_profile.png', class: 'user-img rounded-circle', height: '48px') %>
        <div class="user-details ml-3">
          <h6 class="mb-0">
            <%= link_to('Profile Settings', settings_profile_path, class: 'text-gray-700') %>
          </h6>

          <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: 'small text-gray-500', data: { confirm: 'Are you sure ?' }) %>
        </div>
      </div>
  </div>
</div>
