<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-12">
      <h3>My Church Details</h3>
      <% if @church.logo.present? %>
        <%= image_tag(@church.logo.url, height: 100) %>
      <% end %>
      <p><strong>Name</strong> <%= @church.name %></p>
      <p><strong>Address</strong> <%= @church.address %></p>
      <p><strong>Phone</strong> <%= @church.phone_number %></p>
      <p><strong>Facebook Page</strong> <%= @church.fb %></p>
      <p><strong>Youtube Channel</strong> <%= @church.youtube %></p>
      <p><strong>Instagram</strong> <%= @church.instagram %></p>
      <p><strong>Give Link</strong> <%= @church.give_link %></p>
      <%= link_to('Edit', admin_edit_church_path, class: 'btn btn-primary') %>
    </div>
  </div>
</div>