  <div class="card mb-3">
    <div class="card-body">
      <h5 class="mb-3"><span class="badge badge-secondary">Oct 18</span></h5>
      <h5 class="card-title mb-1"><%= event.name %></h5>
      <p class="mb-1 text-muted text-small">Heritage Park</p>
      <small class="card-text mb-2 text-muted">11:30am - 12:30pm</small>
      <%= link_to '', public_event_path(event), class: 'card-link stretched-link' %>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="mb-3"><span class="badge badge-secondary">Oct 18</span></h5>
      <h5 class="card-title mb-1"><%= event.name %></h5>
      <p class="mb-1 text-muted text-small">Heritage Park</p>
      <small class="card-text mb-2 text-muted">11:30am - 12:30pm</small>
      <%= link_to '', public_event_path(event), class: 'card-link stretched-link' %>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="mb-3"><span class="badge badge-secondary">Oct 18</span></h5>
      <h5 class="card-title mb-1"><%= event.name %></h5>
      <p class="mb-1 text-muted text-small">Heritage Park</p>
      <small class="card-text mb-2 text-muted">11:30am - 12:30pm</small>
      <%= link_to '', public_event_path(event), class: 'card-link stretched-link' %>
    </div>
  </div>
  
