<div class="event bg-light"><img src="<%= event.image.url %>" alt="" class="event-image img-fluid">
  <div class="event-details">
    <h4 class="event-title"><%= event.name %></h4>
    <div class="event-date"><%= event.start_datetime %></div>
    <div class="event-location"><%= event.location %></div>
    <%= link_to  "Get Tickets", public_event_path(event), class: 'btn btn-primary' %>
  </div>
</div>
