

<div class="col-12 col-lg-4 mb-4">
  <div class="card">
    <% if sermon.get_video_url.present? %>
      <div id="hls-player-<%= sermon.id %>" class="card-img-top video"></div>
      <script>
          playerInstance = jwplayer('hls-player-<%= sermon.id %>');
          playerInstance.setup({
              file: '<%= raw(sermon.get_video_url) %>',
              image: '<%= raw(sermon.get_thumbnail_url) %>',
              controls: true
          })
      </script>
    <% end %>
    <div class="card-body">
      <h6 class="card-title mb-1"><%= sermon.title %></h6>
      <small class="text-muted"><%= sermon.speaker %></small>
    </div>
  </div>
</div>
