<%= render partial: 'shared/header', locals: { title: 'Billing Settings', icon: 'fa-dollar-sign' } %>
<div class="container-fluid mt-n20">
  <div class="card pl-4 pr-4 pt-4 mb-5">
    <% if @subscription_profile&.active %>
      <div class="col-md-12">
        <h2>Subscription Settings</h2>
        <h3><%= @subscription_profile.subscription.name %></h3>
        <% if @subscription.cancel_at_period_end %>
          <div>Cancel at: <%= local_time(DateTime.strptime(@subscription.cancel_at.to_s,'%s')) %></div>
          <%= link_to 'Restart Subscription', admin_restart_subscription_path, class: 'btn btn-danger', method: :post %>
          <%= link_to 'Change Subscription', admin_subscriptions_path, class: 'btn btn-primary' %>
        <% else %>
          <div>Next Billing Date: <%= local_time(DateTime.strptime(@subscription.current_period_end.to_s,'%s')) %></div>
          <%= link_to 'Cancel Subscription', admin_cancel_subscription_path, class: 'btn btn-danger', method: :delete %>
          <%= link_to 'Change Subscription', admin_subscriptions_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    <% else %>
      <div class="col-md-12">
        <%= link_to 'Select Subscription', admin_subscriptions_path, class: 'btn btn-primary' %>
      </div>
    <% end %>
    <br/>
    <br/>
  </div>
  <div class="card pl-4 pr-4 pt-4 mb-5">
    <div class="col-md-12">
      <h2>Payment Settings</h2>
      <%= link_to 'Add New Card', new_admin_payment_method_path, class: 'btn btn-primary' %>
    </div>
    <br/>
    <br/>
    <div class="row">
      <% if @cards.length > 0 %>
        <% @cards.each do |card| %>
          <div class="col-md-4 save-cards">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><%= card.brand %> ending with <%= card.last4 %></h5>
                <p class="card-text">Expiring on <%= card.exp_month %>/<%= card.exp_year %></p>
                <% if @subscription_profile.stripe_card_id == card.id %>
                <% else %>
                  <%= link_to('Set as default', admin_set_default_payment_method_path(id: card.id), method: :post, class: 'btn btn-primary') %>
                <% end %>
                <%= link_to('Delete Card', admin_payment_method_path(id: card.id), method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-danger') %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No cards</p>
      <% end %>
    </div>
    <br/>
    <br/>
  </div>
</div>
