<%= render 'shared/public/hero' %>
<div class="container py-4">
  <div class="row">
    <div class="col-12 col-lg-9">
      <%= render 'shared/public/events_section' %>
      <%= render 'shared/public/sermons_section' %>
    </div>
    <div class="col-12 col-lg-3 p-4 m-xs-3 bg-light">
      <%= render 'shared/public/news_sidebar' %>
    </div>
  </div>
</div>
<%# <%= render partial: 'devise/registrations/signup_form' %>
