<div class="row">
  <div class="col-12">
    <div class="card mb-5">
      <div class="card-body mt-4">
        <%= link_to(admin_live_streams_path, class: 'close position-absolute') do %>
          <%= image_tag('img/icon_close.png') %>
        <% end %>
        <%= form_with(model: admin_live_stream, local: true, validate: true) do |form| %>

          <div class="form-group">
            <%= form.label :name, class: 'text-black font-weight-500' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <!--<div class="form-group">
            <%#= form.label :playback_policy %>
            <%#= form.select :playback_policy, Admin::LiveStream::PLAYBACK_POLICIES, {}, class: 'form-control', validate: false %>
          </div>-->
          <div class="row">
            <%= form.fields_for :admin_simulcast_targets do |target| %>
              <%= render 'admin/live_streams/admin_simulcast_target_fields', f: target %>
            <% end %>
            <div class="col-md-12 links mt-4">
              <%= link_to_add_association 'Add target', form, :admin_simulcast_targets, class: 'btn btn-primary' %>
            </div>
          </div>
          <div class="actions mt-4">
            <%= form.submit 'Create live Stream', class: 'btn btn-primary' %>
            <%= link_to "Cancel", admin_live_streams_path, class: 'btn btn-outline-primary px-4 ml-md-4' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
