<div class="container-fluid">
<%= render partial: 'shared/simple_page_header', locals: { 
    title: 'Streams',
    btn_text: 'Add New Stream',
    link: new_admin_live_stream_path,
    icon: 'fa-tv' } %>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Playback policy</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_live_streams.each do |admin_live_stream| %>
      <tr>
        <td><%= admin_live_stream.id %></td>
        <td><%= admin_live_stream.name %></td>
        <td><%= admin_live_stream.playback_policy %></td>
        <td><%= link_to 'Edit', admin_live_stream %></td>
        <td><%= link_to 'Delete', admin_live_stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
