
<%= render partial: 'shared/simple_page_header', locals: { 
  title: 'Live Stream',
  btn_text: 'Add Live Stream',
  link: new_admin_live_stream_path,
  icon: 'fa-video' } %>

<div class="container mt-n20">
  <div class="card mb-5">
    <div class="card-body">
      <% if @admin_live_streams.length > 0 %>
      <div class="table-responsive">
        <table class="table table-striped table-borderless mb-0">
          <thead>
            <tr>
              <th class="text-black font-weight-400 small">Id</th>
              <th class="text-black font-weight-400 small">Name</th>
              <th class="text-black font-weight-400 small">Playback policy</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            <% @admin_live_streams.each do |admin_live_stream| %>
              <tr>
                <td class="text-black"><%= admin_live_stream.id %></td>
                <td class="text-black"><%= admin_live_stream.name %></td>
                <td class="text-black"><%= admin_live_stream.playback_policy %></td>
                <td><%= link_to 'View', admin_live_stream %></td>
                <td><%= link_to 'Delete', admin_live_stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <div class="card">
          <div class="card-body py-5">
            <div class="d-flex flex-column justify-content-center">
              <%= render 'shared/null_icon' %>
              <div class="text-center px-0 px-lg-5 mx-auto" style="max-width:600px;">
                <h2 class="mb-1">No streams yet.</h2>
                <p class="mb-3">Click the button below to create your first stream.</p>
                <%= link_to  "Create Stream", new_admin_live_stream_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
