<br/>
<br/>
<%= form_for @target, url: admin_create_target_path, validate: true, method: :post do |f| %>
  <div class="col-lg-4 col-sm-12">
    <h4>Add Target to <%= @admin_live_stream.name %></h4>
    <div class="form-group">
      <%= f.label :platform %>
      <%= f.text_field :platform, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :url %>
      <%= f.text_field :url, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :stream_key %>
      <%= f.text_field :stream_key, class: 'form-control' %>
    </div>
    <%= submit_tag 'Add Target', class: 'btn btn-primary' %>
  </div>
<% end %>