<%= render partial: 'shared/simple_page_header', locals: { 
  title: 'Stream',
  btn_text: 'Add LiveStream',
  link: new_admin_live_stream_path,
  icon: 'fa-video' } %>

<div class="container-fluid mt-n20">
 <div class="card p-4 mb-5">
  <a href="#" class="close position-absolute"><img src="/assets/img/icon_close.png"></a>
  <div class="row mt-4">
    <div class="col-md-6">
      <h3 class="indigo-text mb-3">Video Feed</h3>
      <video id="video" width="100%" controls></video>
      <% if @admin_live_stream.status == 'active' %>
        <script>
            poster = "https://image.mux.com/<%= @admin_live_stream.playback_id %>/thumbnail.jpg";
            videoSrc = 'https://stream.mux.com/<%= @admin_live_stream.playback_id %>.m3u8';
            let playerInstance = jwplayer('video');
            playerInstance.setup({
                file: videoSrc,
                image: poster,
                controls: true
            })
        </script>
        <h4 id="no-live-stream" hidden>Stream is offline.</h4>
      <% else %>
        <h3 id="no-live-stream">Stream is offline.</h3>
      <% end %>
      <div id="embed-code-container">
        <%= render partial: 'admin/live_streams/embed_code_partial', locals: { embed_code: @admin_live_stream.embed_code } %>
      </div>
    </div>

    <div class="col-md-6">
      <h3 class="indigo-text mb-3">Stream Detail</h3>
      <p>
        <strong>Name:</strong>
        <%= @admin_live_stream.name %>
      </p>

      <p>
        <strong>Playback policy:</strong>
        <%= @admin_live_stream.playback_policy %>
      </p>

      <p>
        <strong>Endpoint to Broadcast:</strong>
        <div><span class="badge badge-secondary p-2 rounded20">rtmp://global-live.mux.com:5222/app</span>
          <a href="#" title="Copy"><i class="fa fa-copy mr-2"></i></a>
         (Standard RTMP entry point. Compatible with the majority of streaming applications and services.)</div>
        <div><span class="badge badge-secondary p-2 rounded20">
        rtmps://global-live.mux.com:443/app</span>
        <a href="#" title="Copy"><i class="fa fa-copy mr-2"></i></a> 
        (Secure RTMPS entry point. Compatible with less streaming applications, but offers a higher level of security.)</div>
      </p>

      <p>
        <strong>Stream Key:</strong>
        <%= @admin_live_stream.mux_stream_key %>
      </p>

      <div class="row">
        <div class="col-6">
          <h3 class="indigo-text mb-3">Targets</h3>
        </div>
        <div class="col-6">
          
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-4">
          <div class="shadow rounded p-3">
            <div class="form-group">
              <label class="text-black font-weight-500">Youtube</label>
            </div>
            <div class="form-group">
              <label class="text-black font-weight-500">Platform</label>
              <input class="form-control" type="text" value="">
            </div>
            <div class="form-group">
              <label class="text-black font-weight-500">Url</label>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label class="text-black font-weight-500">Stream Key</label>
              <input class="form-control" type="text" value="">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="shadow rounded p-3">
            <div class="form-group">
              <label class="text-black font-weight-500">Facebook</label>
            </div>
            <div class="form-group">
              <label class="text-black font-weight-500">Platform</label>
              <input class="form-control" type="text" value="">
            </div>
            <div class="form-group">
              <label class="text-black font-weight-500">Url</label>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label class="text-black font-weight-500">Stream Key</label>
              <input class="form-control" type="text" value="">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="shadow rounded p-3 h-100">
            <%= link_to 'Add Target', admin_new_target_path, class: 'd-flex align-items-center justify-content-center h-100 text-decoration-none' %>
          </div>
        </div>
      </div>

      <!-- <table class="table">
        <thead>
        <tr>
          <th>Platform</th>
          <th>Endpoint</th>
          <th>Stream Key</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @admin_live_stream.admin_simulcast_targets.each do |simulcast_target| %>
          <tr>
            <td><%= simulcast_target.platform %></td>
            <td><%= simulcast_target.url %></td>
            <td><%= simulcast_target.stream_key %></td>
            <td>
              <%= link_to 'Delete', admin_destroy_target_path(target_id: simulcast_target.id), class: 'btn btn-danger',
              data: { confirm: 'Are you sure ?' }, method: :delete %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table> -->
    </div>
  </div>
    <div class="actions">
      <input type="submit" value="Save" class="btn btn-primary px-4">
      <input type="submit" value="Cancel" class="btn btn-outline-primary px-4 ml-md-4">
    </div>
  </div>
</div>
