<%= render partial: 'shared/header', locals: {
  title: 'Choose a Subscription',
  icon: 'fa-dollar-sign' } %>
  <div class="container-fluid mt-n20">
    <% @subscriptions.each do |subscription| %>
      <div class="card col-md-4 float-left mr-5">
        <div class="card-body text-center">
          <div class="card-title"><%= subscription.name %></div>
          <div class="card-text">
            <div class="price"><%= number_to_currency(subscription.price) %></div>
            <ul style="list-style: none;padding-left: 0;">
              <li><%= subscription.live_streams %> Live Streams</li>
              <li><%= subscription.stream_size %> hours live stream per month</li>
              <li><%= subscription.targets %> targets (ex: facebook, youtube ..)</li>
              <li><%= subscription.viewer_count %> users on livestreams.</li>
              <li><%= subscription.video_storage %> GB of video storage to build gallery</li>
            </ul>
            <% if @subscription_profile.subscription_id.present? %>
              <% if @subscription_profile.subscription_id == subscription.id %>
                <a href="#" class="btn btn-primary">Current</a>
              <% else %>
                <%= link_to(get_upgrade_or_downgrade(subscription, @subscription_profile),
                            admin_change_subscription_path(subscription), class: 'btn btn-primary', method: :post) %>
              <% end %>
            <% else %>
              <%= link_to 'Choose', admin_choose_subscription_path(subscription), class: 'btn btn-primary', method: :post  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>