<div class="col-xxl-4 col-xl-4 mb-4">
  <a class="<%= title %> card lift h-100" href="<%= link %>">
    <div class="card-body d-flex justify-content-center flex-column">
      <div class="d-flex align-items-center justify-content-between">
        <div class="mr-3">
          <i class="fas <%= icon %> fa-2x mb-3"></i>
          <h5 class="mb-1"><%= title %></h5>
          <div class="text-muted"><%= subtitle %></div>
        </div>
          <%# <img class="card-img-top" src="<%= image %" alt="..." style="width: 8rem;"> %>
      </div>
    </div>
  </a>
</div>
