<!DOCTYPE html>
<html>
  <head>
    <title>SdaLive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user.present? %>
    <% if current_user.admin? %>
      <div class="section dashboard">
        <div class="container-fluid fill">
          <div class="row fill">
            <%= render 'shared/sidebar' %>
            <main role="main" class="col px-4">
              <div class="row no-gutters">
                <div class="col">
                  <h3 class="page-heading pt-4 mb-0 text-capitalize">
                    <%= controller_name.split('_').map(&:capitalize).join(' ') %>
                  </h3>
                </div>
              </div>
              <%= render partial: 'layouts/flash' %>
              <%= yield %>
            </main>
            <div class="context-menu col-3 p-4 bg-light">
              <div class="settings-menu d-flex justify-content-between">
                <h6>
                  <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: '', data: { confirm: 'Are you sure ?' }) %>
                </h6>
                <%= link_to settings_profile_path, class: '' do %>
                  <i class="fas fa-cog"></i> 
                <% end %>
              </div>
              <div class="context-menu__content">
                <%= yield :context_content %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    <% end %>
  <% else %>
    <%= render partial: 'layouts/flash' %>
    <%= yield %>
  <% end %>
  </body>
</html>
