<!DOCTYPE html>
<html>
  <head>
    <title>ChurchFlow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jwplayer.com/libraries/0XxkAVzL.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
  <% if current_user.present? %>
    <% if current_user.admin? %>
      <div id="dashboard" class="section">
        <div class="row no-gutters fill">
          <div class="col-auto h-100 d-md-block">
            <%= render '/shared/sidebar_nav' %>
          </div>
          <main role="main" id="main" class="col h-100 pl-md-6">
            <%= render partial: '/layouts/flash' %>
            <%= yield %>
          </main>
        </div>
      </div>
    <% else %>
      <%= render partial: '/layouts/flash' %>
      <%= yield %>
    <% end %>
  <% else %>
    <%= render partial: '/layouts/flash' %>
    <%= yield %>
  <% end %>
  </body>
</html>
