<!DOCTYPE html>
<html>
  <head>
    <title>SDA Live</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <% if current_user.present? %>
    <% if current_user.admin? %>
      <div class="section dashboard">
        <div class="row no-gutters fill">
          <div class="col-2">
            <%= render 'shared/sidebar' %>
          </div>
          <% if content_for?(:context_content) %>
            <main role="main" class="col-7 p-4 ml-auto">
              <%= render partial: 'layouts/flash' %>
              <%= yield %>
            </main>
          <div class="col-3">
            <div class="context-menu bg-light">
              <%= yield :context_content %>
            </div>
          </div>
          <% else %>
            <main role="main" class="col-10 p-4 ml-auto">
              <%= render partial: 'layouts/flash' %>
              <%= yield %>
            </main>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    <% end %>
  <% else %>
    <%= render partial: 'layouts/flash' %>
    <%= yield %>
  <% end %>
  </body>
</html>
