<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= @church.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jwplayer.com/libraries/0XxkAVzL.js"></script>
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <%= link_to('ChurchFlow', root_path, class: 'navbar-brand') %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to('News', public_news_path, class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to('Schedule', public_events_path, class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to('Videos', public_sermons_path, class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to('Watch Live', public_streams_path, class: 'nav-link') %>
            </li>
            <li class="nav-item">
              <%= link_to('Login', new_user_session_path, class: 'nav-link') %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main role="main" style="margin-top:56px;">
      <%= render partial: 'layouts/flash' %>
      <%= yield %>
    </main>
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted"></span>
      </div>
    </footer>
  </body>
</html>
